@import '../../breakpointz';

.addUsers {
  display: flex;

  @include lg{
    display: flex;
    flex-direction: column;
  }
  .addUsersContainer {
    flex: 6;

    @include lg{
      display: flex;
      width: 100%;
      justify-content: center;
      flex-direction: column;
    }
    .addUsersDash {
      color: #213f7d;
      font-size: 24px;
      font-weight: 500;
      margin-top: 50px;
      margin-left: 22px;
    }
    .widgets {
      display: flex;
      padding: 20px;
      gap: 20px;

      @include lg{
        display: flex;
        flex-direction: column;
    }
    }
    .listContainer {
      position: relative;

      .addUsersOrgCont {
        margin-left: 20px;
        display: flex;
        padding: 30px 20px;
        flex-direction: column;
        position: absolute;
        background-color: white;
        top: 115px;
        left: 18px;
        border: 0.5px solid rgb(230, 229, 229);
        -webkit-box-shadow: 0px 0px 15px -12px rgba(0, 0, 0, 0.63);
        box-shadow: 0px 0px 15px -12px rgba(0, 0, 0, 0.63);

        .addUsersOrg {
          display: flex;
          flex-direction: column;
          margin-bottom: 20px;

          label {
            margin-bottom: 10px;
            color: #545f7d;
            font-weight: 500;
            font-size: 14px;
          }

          select {
            padding: 6px;
            width: 250px;
            border: none;
            border-radius: 5px;
            border: 1px solid #213f7d;
            opacity: 0.5;

            &:focus {
              outline: none;
            }
          }

          input {
            padding: 6px;
            border: none;
            border-radius: 5px;
            border: 1px solid #213f7d;
            opacity: 0.5;

            &:focus {
              outline: none;
            }
          }
        }

        .addUsersBtn {
          display: flex;
          justify-content: center;
          margin-bottom: 30px;
          margin-top: 10px;

          .reset {
            margin-right: 10px;
            padding: 8px 25px;
            border: none;
            color: #545f7d;
            font-size: 14px;
            font-weight: 600;
            border-radius: 8px;
            border: 1px solid #545f7d;
            background-color: transparent;
            cursor: pointer;
          }

          .filter {
            padding: 8px 25px;
            border: none;
            color: white;
            font-size: 14px;
            font-weight: 600;
            border-radius: 8px;
            background-color: #39cdcc;
            cursor: pointer;
          }
        }
      }

      .vert{
        display: flex;
        flex-direction: column;
        position: absolute;
        padding: 20px;
        top: 280px;
        right: 28px;
        gap: 10px;
        color: #545f7d;
        font-weight: 500;
        font-size: 14px;
        background-color: white;
        border: 0.5px solid rgb(230, 229, 229);
        -webkit-box-shadow: 0px 0px 15px -12px rgba(0, 0, 0, 0.63);
        box-shadow: 0px 0px 15px -12px rgba(0, 0, 0, 0.63);

        .viewDetails{
            display: flex;
            align-items: center;
            gap: 10px;
            cursor: pointer;
        }
      }

    }
  }
}
